@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply scroll-smooth;
    color-scheme: light dark;
  }
  
  body {
    @apply bg-white text-zinc-800 font-sans dark:bg-zinc-950 dark:text-zinc-300;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  }
  
  * {
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out, color 300ms ease-in-out;
  }
}
